<!-- Here h-full and flex, flex-col is required to look card exact regarless of content -->
<!-- h-full make sure card height set dynamic based on content and is use full for below "class=mt-auto" -->
<div class="bg-white p-4 rounded-lg shadow-md flex flex-col h-full">
  <img
    [src]="line_product().image"
    alt="Product 1"
    class="w-full h-40 object-cover rounded-md mb-3"
  />
  <h2 class="text-lg font-semibold line-clamp-2">{{ line_product().title }}</h2>
  <p class="text-gray-600 text-sm line-clamp-3 mb-2">
    {{ line_product().description }}
  </p>
  <!-- mt-auto ensure that all the content of below div places exactly bottom of the card.  -->
  <div class="mt-auto">
    <p class="text-blue-500 font-medium">
      Category: {{ line_product().category }}
    </p>
    <div class="flex items-center mt-1">
      <app-star [rating]="line_product().rating.rate" />
      <span class="text-gray-600 text-sm ml-2"
        >( {{ line_product().rating.rate }} )</span
      >
    </div>
    <p class="text-green-500 font-bold mt-auto">$ {{ line_product().price }}</p>
    <button
      class="mt-3 w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 cursor-pointer"
      (click)="addToCart(line_product(), 1)"
    >
      Add to Cart
    </button>
  </div>
</div>
